<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
      <services>
        <service name="BadmintonServiceLibrary.Badminton">
          <endpoint contract="BadmintonServiceLibrary.IBadminton" binding="wsHttpBinding" address="">
            <identity>
              <dns value="localhost"/>
            </identity>
          </endpoint>
          <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
          <host>
            <baseAddresses>
              <add baseAddress="http://localhost:8732/Design_Time_Addresses/BadmintonServiceLibrary/Service2/"/>
            </baseAddresses>
          </host>
        </service>
      </services>
      <behaviors>
        <serviceBehaviors>
          <behavior>
            <serviceMetadata httpGetEnabled="True"/>
            <serviceDebug includeExceptionDetailInFaults="False"/>
          </behavior>
        </serviceBehaviors>
      </behaviors>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
